:root{
  --PrimaryColor : #070C1D;
  --SecondaryColor : #FF7F11;
  --whiteColor : #F6F7EB;
  --whileLightColor : #D9D9D9; 
  --checkColor:rgba(255, 0, 0, 0.26);
}

*{
  margin : 0;
}

body{
  background-color: var(--PrimaryColor);
  font-family: 'Inter', sans-serif;  
  color: var(--whiteColor);
}
.underline{
  width : 8em;
  height: 2px;
  border-radius: 1px;
  background-color: var(--SecondaryColor);
  margin-left: 23px;
}
.title{
  color: var(--whiteColor);
  font-size: 24px;
  margin: 50px 0px 0px 17px;
}

.semi-title{  
  color: var(--whiteColor);
  font-size: 18px;
  margin: 0px 0px 0px 17px;
}

.brief{
  display: flex;
  padding: 10px 10px;
}

.logo-image{
  width: 98px;
  height: 138px;
}

.bold{
  font-weight: bolder;
  font-size: 20px;
  color: var(--whiteColor);
}

.light-bold{
  font-weight: bold;
  color: var(--whiteColor);
}

.brief-desc{
  margin-top: 20px;
  font-family: 'Jost', sans-serif;  
  font-size: 18px;
  color: var(--whileLightColor);
}

#socials{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 20px 0px 20px 17px;
}
#profile-link{
  width: 30px;
  height: 30px;
}

hr{
  border: 0.5px solid rgba(112, 112, 112, 0.548);
  width: 80vw;
  margin: auto;
}

.about{
  margin-bottom: 50px;
}

.profile-image{
  width: 160px;
  height: 200px;
  margin: 10px 20px 0px 15px;
  border: var(--SecondaryColor) solid;
  border-radius: 10px;
}

.underline-wrap{
  width: 3em;
}