:root{
  --PrimaryColor : #070C1D;
  --SecondaryColor : #FF7F11;
  --whiteColor : #F6F7EB;
  --whileLightColor : #D9D9D9; 
  --checkColor:rgba(255, 0, 0, 0.26);
}

*{
  margin : 0;
}

body{
  background-color: var(--PrimaryColor);
  font-family: 'Inter', sans-serif;  
  color: var(--whiteColor);
}

.Head{
  display: flex;
  justify-content: space-around;
  gap:20em;
  margin-left: 15px;
  padding: 0px 15px;
  width: 100%;
}

.resume{
  justify-self: flex-end;
  margin-top: 50px;
  width: 8em;
  height: 2em;  
}

.underline{
  width : 16em;
  height: 2px;
  border-radius: 1px;
  background-color: var(--SecondaryColor);
  margin-left: 30px;
}
.title{
  color: var(--whiteColor);
  font-size: 3em;
  margin: 50px 0px 0px 17px;
}
.main-title{
  color: var(--whiteColor);
  font-size: 3em;
  margin: 50px 0px 0px 17px;
}

.semi-title{  
  color: var(--whiteColor);
  font-size: 40px;
  margin: 0px 0px 0px 17px;
}

.brief{
  display: flex;
  padding: 10px 10px;
}

.logo-image{
  width: 500px;
  height: 350px;
}

.bold{
  font-weight: bolder;
  font-size: 35px;
  color: var(--whiteColor);
}

.light-bold{
  font-weight: bold;
  color: var(--whiteColor);
}

.brief-desc{
  margin-top: 70px;
  font-family: 'Jost', sans-serif;  
  font-size: 1.5em;
  color: var(--whileLightColor);
}

#socials{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 20px 0px 20px 17px;
}
#profile-link{
  width: 100px;
  height: 100px;
}

hr{
  border: 0.5px solid rgba(112, 112, 112, 0.548);
  width: 80vw;
  margin: auto;
}

.about{
  margin-bottom: 50px;
}

.profile-image{
  width: 350px;
  height: 400px;
  margin: 10px 30px 0px 15px;
  border: var(--SecondaryColor) solid;
  border-radius: 10px;
}

.no-gap{
  margin-top: 5px;
}
.underline-wrap{
  width: 3em;
}
.underline-wrap-med{
  width: 5em;
}

.button{
  width: 190px;
  height: 80px;
  border-radius: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  font-weight: bolder;  
}
.button>p{
  margin-top: 15px;
}
.main-button{
  background-color: var(--SecondaryColor);  
  color: #F6F7EB;
}
.secondary-button{
  border: solid var(--SecondaryColor) 5px;
  color:var(--whiteColor)
}
.buttons{
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-top: 2em;
  /* gap: 30px; */
  /* justify-content:center; */
}
.project-col{
  margin-left: 5em;
}
.details{
  padding: 20px;
  grid-template-rows: 30em;
}
.details>h1{
  font-size:2.5em;
  margin-bottom: 20px;
}
.project{
  margin-top: 30px;
  display: flex;
  border-bottom: solid 5px var(--SecondaryColor);
  margin-bottom: 5em;
}
.med-text{
  font-size: 30px;
}
.corner-text{
  max-width: 80%;
}
.project-img{
  width: 350px;
  height: 330px;
  grid-row: 1/span 2;
  border-radius: 60px;
  border: 2px solid var(--SecondaryColor);
  margin-right: 70px;
  margin-bottom: 30px;
}
.hidden{
  opacity: 0;
  transition: all 1s;
  filter:blur(4px);
}
.show{
  opacity: 1;  
  filter: blur(0px);
}


@media (min-width:1000px) {
      .main-title{
      color: var(--whiteColor);
      font-size: 3em;
      margin: 64px 0px 0px 0px;
    }
    .Head{
      display: flex;
      justify-content: space-around;
      gap:55em;
      width: 100%;
    }
    .project-col{
      display: flex;
      justify-content: space-evenly;
    }
    .project-img{
      margin-left: auto;
    }
    .buttons{
      margin-left: 2em;
    }
    .project{
      display: grid;
      grid-template: 10em / 22em;
      width: 500px;
      border-left: #ff801186 solid 1px;
      padding: 20px;
    }
    .details{
      text-align: center;
      margin-left: 2.8em;
    }
    .brief-desc{      
      font-size: 1.5em;
      font-weight: lighter;
      margin: 0;
    }
    .details>h1{
      font-size: 1.8em;
    }
    .brief{
      padding: 5em;
      display: grid;
      grid-template-columns: 30em 28em;
    }
}